# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Python venvs
.venv/
venv/
ENV/
env/
**/.venv/
**/venv/
*.env


# Node
node_modules/
**/node_modules/
.next/
out/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db


